body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
    Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "JetBrains Mono", monospace;
}
